.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 233, 233);
  z-index: 100;

}


/* yung thung */


.left-section {


  align-items: center;
  display: flex;

}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
   

}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button .tooltip, 
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip,
.profile-icon-container .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: roboto,arial;
}


.search-button, .voice-search-button, .upload-icon-container, .notifications-icon-container, .profile-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.profile-icon-container:hover .tooltip
{
  opacity: 100;
}

.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  height: 36px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0px;
}

.search-icon {
  height: 25px;

}
 
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246)
}
.voice-search-icon {
  height: 24px;
  width: 20px;
  margin-top: 4px;

  
}




.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}


.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 7px;
  right:68px;
  font-family: roboto,arial;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  border-radius: 10px;
  background-color: rgb(200, 0, 0);
  color: white;

}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;


}

.Youtube-logo {
  height: 30px;
}
